/* components/Grids.css */

:root {
  --grid-header-height: 2.5em;
}

.grids-component {
  display: flex;
  gap: var(--midi-app-container-padding);
  height: calc( var(--midi-app-grid-cell-size) * 13);
  overflow-x: hidden;
  overflow-y: auto;
  border: 1pt solid var(--midi-app-container-border);
}

.grid-wrapper {
  position: relative; 
  display: flex;
  flex-direction: column; 
}

.ctrls-wrapper {
  position: sticky;
  top: 0;
}

