/* src/components/GridInput.css */

:root {
    --cell-size: 10pt; 
    --grid-background: lightgray; 
    --active-background: lightblue;
}

.grid-component {
    display: grid;
    margin: 1em;
    overflow-y: auto;
    height: 10em;
}

.grid-cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: var(--grid-background);
    border: 1px solid black;
    cursor: pointer;
    box-sizing: border-box;
}

.grid-cell.active {
    background-color: var(--active-background);
}



