/* src/components/GridInput.css */

.grid-component {
    position: relative; 
    display: flex; 
    border: var(--midi-app-container-border);
}

.column {
    display: flex;
    flex-direction: column;
}

.grid-cell {
    width: var(--midi-app-grid-cell-size);
    height: var(--midi-app-grid-cell-size);
    background-color: var(--midi-app-grid-bg);
    border: 1px solid var(--midi-app-grid-border-clr);
    cursor: pointer;
}

.grid-cell.active {
    background-color: var(--midi-app-selected-bg);
}

.grid-cell.highlight {
    background-color: var(--midi-app-grid-current-beat-bg); 
}

.grid-cell.active.highlight {
    background-color: var(--midi-app-grid-current-beat-selected-bg);
}

.resizer {
    position: absolute;
    cursor: ew-resize; 
    height: 100%; 
    top: 0;
    right: -1pt;
    width: 4pt; 
    background: 3pt double var(--midi-app-grid-border-clr);
    margin: 0;
}

.resizer:hover {
    background-color: orange;
}
