/* components/Grids.css */

:root {
  --grid-header-height: 2.5em;
}

.grids-component {
  display: flex;
  flex: 1;
  gap: var(--midi-app-container-padding);
  overflow: auto;
  border: 1pt solid var(--midi-app-container-border);
  height: calc(50vh - (var(--midi-app-toolbar-height) / 2) - 2rem);
}

.grid-wrapper {
  position: relative; 
  display: flex;
  flex-direction: column; 
}

.ctrls-wrapper {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

.ctrls-wrapper button {
  margin-bottom: 1em;
  width: 100%;
}



