
.key {
    display: flex;
    align-items: center;
    background: white;
    color: black;
    border: 1px solid black;
    width: var(--midi-grid-cell-size); 
    height: var(--midi-grid-cell-size);
    font-size: calc(var(--midi-grid-cell-size) * 0.5);
}

.black {
    background: black;
    color: white;
}
