
.key {
    display: flex;
    align-items: center;
    background: var(--midi-app-grid-light-key);
    color: var(--midi-app-grid-dark-key);
    border: 1px solid black;
    width: var(--midi-app-grid-cell-size); 
    height: var(--midi-app-grid-cell-size);
    font-size: calc(var(--midi-app-grid-cell-size) * 0.5);
}

.black {
    background: var(--midi-app-grid-dark-key);
    color: var(--midi-app-grid-light-key);
}
