/* src/App.css */

main {
  padding: 1em;
}

.app-toolbar {
  display: flex;
  align-items: center;
  border: var(--midi-app-container-border);
  height: var(--midi-app-toolbar-height);
  max-height: calc( var(--midi-app-toolbar-height) - 1rem);
  margin-bottom: 1rem;
}

 h1 {
  margin: 0;
  padding: 0;
}

 h1 {
  font-size: 1.5rem;
  opacity: 50%;
  margin-right: auto;
}

.app-ctrls > * {
   margin: var(--midi-app-container-padding);
}
