/* src/App.css */

main {
  padding: 1em;
}

.app-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: var(--midi-app-container-border);
}

.app-toolbar h1 {
  font-size: 1.5rem;
  opacity: 50%;
}