* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #222;
    color: #fef;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --midi-app-input-margin-left: 0.6em;
  --midi-app-container-padding: 0.6em;
  --midi-app-container-border: 1pt solid grey;

  --midi-app-grid-cell-size: 20pt; 
  --midi-app-grid-bg: lightgray; 
  --midi-app-grid-border-clr: #555;
  --midi-app-selected-bg: lightblue;
  --midi-app-grid-current-beat-bg: lightgreen;
  --midi-app-grid-current-beat-selected-bg: green;
  --midi-app-toolbar-height: 3rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
